header {
    position: sticky;
    top: 0;
  }
/*-----------------------------------------------------------*/
  main {
    width: 1440px;
    height: 1023px;
  }
  #login_banner {
    width: 1440px;
    height: 1023px;
    background-position: center;
    z-index: -1;
  }
  form {
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 540px;
    border-radius: 12px;
    margin-top: -57%;
    margin-left: 32%;
    position: relative;
  }
  #logo {
    display: flex;
    justify-content: center;
  }
  #Dados {
    display: block;
    padding: 10%;
  }
  #x {
    margin-top: 4px;
    text-align: end;
    padding: 8px;
    margin-right: 5px;
  }
  label {
    display: block;
    font-size: 20px;
  }
  .inputs {
    margin-top: 70px;
  }
  input {
    margin: 2px;
    width: 350px;
    height: 45px;
    font-size: 20px;
    border-radius: 9px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #Senha {
    padding-top: 5px;
  }
  #Button {
    padding-top: 24px;
  }
  .button {
    width: 350px;
    height: 55px;
    background-color: rgba(51, 187, 105, 1);
    border-radius: 10px;
    font-size: 20px;
  }
  .button:hover {
    background-color: rgb(57, 219, 122);
    transform: scale(1.09);
    transition: 0.2s;
  }
  a {
    text-decoration: none;
    color: white;
  }
/*-----------------------------------------------------------*/
footer {
    width: 100%;
    height: 200px;
    background-color: #000000;
    color: white;
  }
  .col {
    margin-top: 30px;
  }
  .membro1,
  .membro2,
  .membro3 {
    font-size: 20px;
  }
  .sub1,
  .sub2,
  .sub3 {
    font-size: 12px;
  }
  .icon-linkedin,
  .icon-github {
    width: 15px;
  }
  .indice1 {
    text-align: left;
  }
  .indice2 {
    text-align: center;
  }
  .indice3 {
    text-align: right;
  }
  
  .rodape {
    font-size: 15px;
    text-align: center;
    padding: 30px;
  }