/*Header---------------------------------------*/
header {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    position: relative;
  
  }
  
  .nav-link {
    color: black;
  }
  
  .home {
    color: #ff0000;
    font-weight: bold;
  }
  
  /*Main---------------------------------------*/
  .conteudo {
    padding: 10px;
  }
  
  .titulo01 {
    font-weight: bold;
  }
  
  .infor {
    font-weight: bold;
    font-size: 25px;
  }
  
  .sub {
    font-size: 15px;
    color: blue;
  }
  
  .banner {
  width: 100%;
  }
  
  iframe {
    width: 1280px;
    height: 720px;
    margin: 24px auto;
  }
  
  div.vid {
    margin-bottom: 40px;
    padding-bottom: 55%;
    position: relative;
  }
  
  div.vid > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
  }
  
  /*Footer---------------------------------------*/
  footer {
    width: 100%;
    height: 200px;
    background-color: #000000;
    color: white;
  }
  
  .col {
    margin-top: 30px;
  }
  
  .membro1,
  .membro2,
  .membro3 {
    font-size: 20px;
  }
  
  .sub1,
  .sub2,
  .sub3 {
    font-size: 12px;
  }
  
  .icon-linkedin,
  .icon-github {
    width: 15px;
  }
  
  .indice1 {
    text-align: left;
  }
  .indice2 {
    text-align: center;
  }
  
  .indice3 {
    text-align: right;
  }
  
  .rodape {
    font-size: 15px;
    text-align: center;
    padding: 30px;
  }