* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer'
    ;
}

header {
    background-color: aqua;
    grid-area: header;
    height: 60px;
}

aside {
    background-color: blue;
    grid-area: aside;
    height: 500px;
}
main {
    background-color: brown;
    grid-area: main;
}

footer {
    background-color: chartreuse;
    grid-area: footer;
    height: 80px;
}